# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
Week 1/.vs/
Week 6/윤원/과제 문제/\[쉬움\] 4256_트리/Debug/4256_트리.tlog/CL.command.1.tlog
Week 6/윤원/과제 문제/\[쉬움\] 4256_트리/Debug/4256_트리.tlog/4256_트리.lastbuildstate
Week 6/윤원/과제 문제/\[쉬움\] 4256_트리/Debug/4256_트리.log
Week 6/윤원/과제 문제/\[쉬움\] 4256_트리/4256_트리.vcxproj.user
Week 6/윤원/과제 문제/\[쉬움\] 4256_트리/4256_트리.vcxproj.filters
Week 6/윤원/과제 문제/\[쉬움\] 4256_트리/4256_트리.sln
Week 6/윤원/과제 문제/\[쉬움\] 4256_트리/.vs/4256_트리/v16/ipch/AutoPCH/f30582cc74e3a1b4/4256_트리.ipch
Week 6/윤원/과제 문제/\[쉬움\] 4256_트리/.vs/4256_트리/v16/ipch/AutoPCH/9d97f034d2d292e4/SUBMIT.ipch
Week 6/윤원/과제 문제/\[쉬움\] 4256_트리/.vs/4256_트리/v16/ipch/AutoPCH/2a4735846e394e14/4256_트리.ipch
Week 6/윤원/과제 문제/\[쉬움\] 4256_트리/Debug/4256_트리.tlog/link.write.1.tlog
Week 6/윤원/과제 문제/\[쉬움\] 4256_트리/Debug/4256_트리.tlog/link.read.1.tlog
Week 6/윤원/과제 문제/\[쉬움\] 4256_트리/Debug/4256_트리.tlog/link.command.1.tlog
Week 6/윤원/과제 문제/\[쉬움\] 4256_트리/Debug/4256_트리.tlog/CL.write.1.tlog
Week 6/윤원/과제 문제/\[쉬움\] 4256_트리/Debug/4256_트리.tlog/CL.read.1.tlog
Week 6/윤원/과제 문제/\[쉬움\] 4256_트리/4256_트리.vcxproj
Week 6/윤원/과제 문제/\[쉬움\] 4256_트리/.vs/4256_트리/v16/Browse.VC.db
Week 6/윤원/과제 문제/\[쉬움\] 4256_트리/.vs/4256_트리/v16/.suo
